/* logo/buttons */
logo-container, .logo, .nav-center, .logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

.logo-container {
    padding: 0;
}

.submit-button {
    margin-top: 1.25rem; 
    width: 10rem;
    background-color:#191970
}

.start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-shadow: 2px 2px 4px #000000;
    background-color: #009900;
}

.button-background {
    background-color: white;
    padding: 0px 2.5px 0px 2.5px;
} 

.button-background button {
    margin: 0 -1px 0 -1px;
}

.btn-outline-dark {
    background-image: linear-gradient(white, gray);
    color: black;
    width: 8rem;
}

/* nav */
nav {
    background-color:  	#A9A9A9;
}

.navbar {
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
}


.navbar-toggler {
    height: 2rem
}

/* banner */
.banner-container {
    position: relative;
    padding: 0
}

.banner-title {
    position: absolute;
    top: 50px;
    background-color: #009900;
    padding-left: 75px;
    margin-right: 50px;
}

.banner-title h1 {
    padding-right: 20px;
    font-size: 3rem;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 4px #000000;
}

.banner-paragraph {
    position: absolute;
    top: 150px;
    left: 175px;
    margin-right: 45px;
    color: white;
    width: 400px;
}

.banner-paragraph h2 {
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

/* front-page */
.front-page {
    margin-top: 2.5rem;
    width: 85%
}

.headline-title {
    margin: 2.5rem 0;
}

.front-page h1, .front-page h2{
    color: #191970;
    font-weight: 600;
}

.front-page h2, .front-page h1 {
    text-align: center;
}

.front-page p {
    font-size: 1.2rem;
} 

/* main content */
.borders {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 17rem;
    margin: 2.2rem 0 2.2rem 0;
    padding: 0;
}

.image-sizing {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.borders h1 {
    color: #191970;
    padding:0 2rem 0 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.image-paragraph {
    font-size: 1.2rem;
    padding:0 2rem 0 2rem;
    color: #303030;
}

/* form */

.form-container {
    background-color: #D3D3D3;
    padding: 5rem;
    margin-top: 4rem;
}

.form-container h1 {
    color: #191970;
    font-weight: 600;
}

.contact-form {
    padding: 4rem 3rem;
}

.form-group {
    margin: .2rem 0;
    width: 75%
}

/* footer */
.footer-paragraph {
    margin: 2.5rem 0 12rem 2rem;
    width: 95%
}

.footer-paragraph p {
    font-size: 1.25rem;
}

/* smartphones */
@media only screen and (max-width: 900px) {
    /* .navbar {
        visibility: hidden;
      } */
    .banner-title {
        position: absolute;
        top: 40px;
        background-color: #009900;
        padding-left: 75px;
        margin-right: 50px;
    }

    .button-background {
        width: 100%;
    }
    .btn-outline-dark {
        width: 19%;
        font-size: 12px;
    }
    
    .banner-image {
        margin-top: 0;
        height: 15rem;
        margin-bottom: 5rem;
    }

    .banner-title h1 {
        font-size: 1.5rem;
        color: white;
        font-weight: normal;
        text-shadow: 2px 2px 4px #000000;
    }
    
    .banner-paragraph {
        position: absolute;
        top: 100px;
        left: 75px;
        margin-right: 45px;
        color: white;
        width: 150px;
    }
    
    .banner-paragraph h2 {
        font-size: 1rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }
    .start-button {
        width: 40%;
    }
    .headline-section {
    margin: 1rem 0
    }
    .borders {
        border-top: none; 
        border-bottom: none;
        }
    img {
        margin-top: 100px;
    }
    form {
        margin-left: 4rem;
    }
    .form-container h1 {
        font-size: 2rem;
        
    }
    .contact-form {
        width: 150%;
        padding: 0 100px 25px 20px;
    }
    div#div-rotation-img {order: 1;}
    div#div-rotation-p {order: 2;}
  }

/* tablet */
@media only screen and (min-width: 1000px) {
    .btn-outline-dark {
        width: 12rem;
        }
}
/* desktop monitor screens */
@media only screen and (min-width: 1500px) {
    body {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .btn-outline-dark {
        width: 8rem;
        }
    .row-height h1 {
        font-size: 1.5rem
    }
    .image-paragraph {
        font-size: 1.15rem
    }
}
/* big screens */
  @media only screen and (min-width: 2000px) {
    .btn-outline-dark {
    width: 10rem;
    }
  }

  